

<h4>You were the first to answer today’s question so you get to choose 
the question for tomorrow!</h4>

      <%= form_tag questions_path do %>
      
      <%= radio_button_tag(:question_id, @question1.id) %>
      <%= label_tag(:question_1, @question1.body) %>
      <%= radio_button_tag(:question_id, @question2.id) %>
      <%= label_tag(:question_2, @question2.body) %>
      <%= radio_button_tag(:question_id, @question3.id) %>
      <%= label_tag(:question_3, @question3.body) %>
      
      <%= radio_button_tag (:question_id, "") %>
      <%= label_tag(:question_4, "Create new:") %>
      <%= text_area_tag :body, nil %>
      
      <p><%= submit_tag "select", :class => "btn btn-success roboto"%></p>
      
     <!-- do I call the round#create and round#new methods here on the submit button? -->
      

      <% end %>
