



    <h4>Oh heeeey. You were the first to answer today’s question so you get to choose 
      the question for tomorrow.</h4>

      <%= form_tag questions_path do %>
      
        <div class = "align_input"><%= radio_button_tag(:question_id, @question1.id)%></div>
        <%= label_tag(:question_1, @question1.body) %>
        <div class  = "align_input"><%= radio_button_tag(:question_id, @question2.id) %></div>
        <%= label_tag(:question_2, @question2.body) %>
        <div class  = "align_input"><%= radio_button_tag(:question_id, @question3.id) %></div>
        <%= label_tag(:question_3, @question3.body) %>
      
        <div class  = "align_input"><%= radio_button_tag(:question_id, "") %></div>
        <%= label_tag(:question_4, "Create new:") %>
        <%= text_area_tag :body, nil %>
      
      
        <p><%= submit_tag "select", :class => "btn btn-success roboto"%></p>
        
        <p><i class="icon-refresh"> </i> <%= link_to "Refresh for more questions ", new_question_path%>
        <p> <i class="icon-wrench"> </i> Pssst. If you create a new question it gets added to the master list of questions which everyone gets. I'm sure your inside jokes are super funny, but for now keep the questions generic if you can. I'll fix this soon! - Katie
            

      <% end %>

