
<p><i class="icon-user">  </i>  To get started you need a partner. Right now you can only have one partner, so pick someone you like. </p>
  
<p><i class="icon-search">  </i>  Enter a friend's email address below to search for them.</p> 

<p><i class="icon-signal">  </i>  If your friend hasn't signed up for The Question Project yet, <a href="/invites/new">invite them.</a> </p>
    

    <%= form_tag new_pair_path, :method => "get" do %>
    <%= text_area_tag :email, nil, :class => "input emailbox roboto" %>
    <p><%= submit_tag "search", :class => "btn btn-success roboto" %></p>
    <% end %>
    
    <% if @partners.present? %>
    <% else %>
      <p><%= "No results found. Try again or invite your friend to join!" %></p>
    <% end %>
   

    <% search_result(@partners) do %>
 
      <div class="well">
   
          <% @partners.each do |p| %>
            <h5><%= "Friend found!" %></h5>
            <p><%= p.first_name %> <%= p.last_name %> 
            
          <% if p.pair.nil? %>  
            <%= link_to "Select as partner", pairs_path(:partner_id => p.id), :method => "post" %></p>
          <% else %>
            <%= "(This user already has a partner)" %></p>
          <% end %>
          
          <% end %>
    
        </div>

<% end %>
