
<p>To get started you need a friend to join you. Right now you can only have one friend, so choose wisely! </p>
  
<p>Enter your friend's email address below to search for them. </p>
    


    <%= form_tag new_pair_path, :method => "get" do %>
      <%= text_area_tag :email, nil, :class => "input answerbox roboto" %>
      <p><%= submit_tag "search", :class => "btn btn-success roboto" %></p>
    <% end %>
    


  <div class="well">
    <p>If your friend hasn't signed up for The Question Project yet, you can send them an invite.</p>
    
    <% @partners.each do |p| %>
    <h5><%= "Friends found:" %></h5>
    <p><%= p.first_name %> <%= p.last_name %> (<%= p.email %>) <%= link_to "Select as partner", pairs_path(:partner_id => p.id), :method => "post" %></p>
    <% end %>

  </div>


