<script type="text/javascript">
    mixpanel.track("Home Page Loaded")
</script>


<div class="container-narrow">
  
  <% if @todays_round %>

    <div class="question-well">
      You've already answered a question today. Come back tomorrow!
    </div>

  <% else %>

    <div class="question-well">
      <div class="span4">
        <h4><%= Time.now.to_date.to_s(:long) %></h4>
        <h3> <%= @question.body %></h3>
        <p><%=  link_to "I want a different question!", root_path %></p>
      </div>
      <div class="span5">
        <%= form_tag answers_path do %>
          <%= text_area_tag :body, nil, :class => "input answerbox roboto", :maxlength =>"255" %>
          <%= submit_tag "Submit", :class => "btn btn-large roboto" %>
          <%= hidden_field_tag :question_id, @question.id %>
        </div>
        <% end %>
      </div>
  
  <% end %>
  </div>
  

<div class="container-narrow">

  <% @rounds.each do |r| %>
    <div class="index-well">
      <h4><%= r.round_date.to_date.to_s(:short) %></h4>
      <p> <%= r.question.body %></p>
        <p><%= link_to "View", round_path(r) %></p>
   
    </div>
  <% end %>
  </div>
  
  

