<script type="text/javascript">
    mixpanel.track("Home Page Loaded")
</script>




  <% if params[:question_id] %>
    <h4 align="center">Nice work answering that question!</h4>



  <% elsif @my_answer || @my_round %>
    <div class ="container">
      <h4 align="center">You've already answered a question today. Come back tomorrow!</h4>
    </div> 

  <% elsif @partner_round %>
    <div class ="container">
      <div class="span5">
        <h4><%= Time.now.to_date.to_s(:long) %></h4>
        <h3> <%= @question.body %></h3>
      </div>
      <div class="span5">
        <%= form_tag answers_path do %>
        <%= text_area_tag :body, nil, :class => "input answerbox", :maxlength =>"255" %>
        <%= submit_tag "Submit", :class => "btn" %>
        <%= hidden_field_tag :question_id, @question.id %>
         <% end %>
      </div>
    </div> 
      
  <% else %>
   <div class ="container">
      <div class="span5">
        <p><%= Time.now.to_date.to_s(:long) %></p>
        <h3> <%= @question.body %></h3>
        <div class="spacing20"></div>
        <p><%=  link_to "New question", root_path %> </p>
        <p><%=  link_to "Create your own", new_question_path %></p>
      </div>

      <div class="span5">
           <div class="spacing20">  </div>   
        <%= form_tag answers_path do %>
        <%= text_area_tag :body, nil, :class => "input answerbox", :maxlength =>"255" %>
        <%= submit_tag "Submit", :class => "btn" %>
        <%= hidden_field_tag :question_id, @question.id %>
        <% end %>
      </div>
    </div>  
           
  <% end %>


<div class="container">
  <div class="spacing20"></div>
</div>



<% @rounds_by_month.each do |round_month, rounds| %>

<% @month_name=Time.parse(round_month).strftime("%B %Y") %>
<% @month_id=Time.parse(round_month).strftime("%b") %>



  <div class="container">

    <% if Time.parse(round_month).month == "7" %>
      <h4 class="month-label" data-toggle="collapse" data-target="#<%=@month_id%>"> <%=@month_name%> <i class="icon-minus"></i></h4>
      <div id="<%=@month_id%>" class="collapse in month-item">
      
    <% else %>
      <h4 class="month-label" data-toggle="collapse" data-target="#<%=@month_id%>"> <%=@month_name%> <i class="icon-plus"></i></h4>
      <div id="<%=@month_id%>" class="collapse month-item">
    <% end %>
          
      <% rounds.each do |r| %>
        <div class="index-well <%= @month_id.downcase%>"> 
    
      <div class="top">
        <h5><%= r.round_date.to_date.to_s(:short) %></h5>
        <p> <%= r.question.body %></p>
      </div>

      <div class="clearfix">
        <div class="bottom">
          <% if r.answers.where(:user_id => @user.id).first %>
            <p class="bottom-label"> <%= link_to "View", round_path(r) %></p>
          <% elsif r.answers.where(:user_id => @partner.id).first %>
            <p class="bottom-label"><%= link_to "#{@partner.first_name}'s answer", round_path(r) %></p>
          <% else %>
            <p class="bottom-label"><%= link_to "Answer", round_path(r) %></p>
          <% end %> 
        </div> 
      </div>
       
      </div>
  
  <% end %>
      </div>
    
  
  </div>
  
<% end %>
