     <% yield %>
     <% #{insert the two snippets of javascript that you get from mixpanel with your specific key} %>
     <% record_mixpanel(flash[:mixpanel_record]) # this is a custom method we've defined in application_helper.rb %> 
  
<div align="center">
      
      
      <h3> <%= @question.body %></h3>
      <p><%= Time.now.to_date.to_s(:long) %>
      <%= form_tag answers_path do %>
      <%= text_area_tag :body, nil, :class => "input answerbox roboto", :maxlength =>"255" %>
      <p><%= submit_tag "submit", :class => "btn btn-large btn-success roboto" %></p>
      <%= hidden_field_tag :question_id, @question.id %>
      <% end %>
      
      
      <div><%=  link_to "I want a different question!", new_round_path %></div>
      

      
</div>
