

    
 <div class="well">
    <p class="roboto date">Question for <%= @round.created_at.to_date.to_s(:long)%></p>
    <h4><%= @question.body %></h4>
    
    <% @answers.each do |a| %>
        <p><%= a.user.email %> <%= a.body %> </p>
        <p class="tiny"><%= link_to "edit", edit_answer_path(a)%> / <%= link_to "delete", answer_path(a), :method => "delete"%></p>
    <% end %>
 
</div>