<script type="text/javascript">
    mixpanel.track("View Round")
</script>


<% if @round.answers.where(:user_id => current_user.id).present? %>
<div class = "row"> 
  <div class="span4">
    <p><%= @round.round_date.to_date.to_s(:long)%></p> 
  </div>  

</div> 


<div class="spacing20"></div>

    <h3><%= @question.body %></h3>
<% else %> 
<div class = "row"> 
  <div class="span4">
    <p><%= @round.round_date.to_date.to_s(:long) %></p>
    <h3> <%= @question.body %></h3>
  </div>
  <div class="span4">
    <%= form_tag answers_path do %>
    <p><%= text_area_tag :body, nil, :class => "input answerbox", :maxlength =>"255" %>
    <%= submit_tag "Submit", :class => "btn" %>
    <%= hidden_field_tag :question_id, @question.id %>
    <%= hidden_field_tag :round_id, @round.id %></p>
    <% end %>
  </div>
<% end %>
</div>

<div class="spacing20"></div>
    
<% @answers.each do |a| %> 
<div class="container">
  <div class="row">
    <div class="span1">
    <div class="pull-right">   
      <% if a.user.image.present? %>
      <%= image_tag a.user.image %>
      <% else %>
        <%= gravatar_for a.user, :size => 50 %>
      <% end %></div>
    </div>
    <div class="span5"> 

      <span class="name"><%= a.user.first_name %></span>
        <p><%= a.body %></p>

    </div>
      <div class="span1">
      <% answer_edit(@my_answer) do %>
      <%= link_to "edit", edit_answer_path(@my_answer), :class => "muted tiny" %>
    <% end %>
  </div> 
  </div>


<% end %>
  
<div class="spacing40"></div>

<div class="row">
  <div class ="span1">
  </div>
  <div class="span8">
      <%= form_tag comments_path do %>
      <%= text_area_tag :body, nil, :class => "input commentbox", :maxlength =>"255" %>
      <%= submit_tag "Comment", :class => "btn"%>
      <%= hidden_field_tag :round_id, @round.id %>
      <% end %>
  </div>
</div>


<% if @pair %>
  <% comment_present(@round) do %>
    <% @comments.each do |c| %>



    <div class="row">
      <div class="span1">
          <div class="pull-right">   

        <% if c.author.image.present? %>
          <%= image_tag c.author.image, :size => 40  %>
        <% else %>
          <%= gravatar_for c.author, :size => 40 %>
         <% end %>
       </div>
       </div>

      <div class="span5">

        <span class="name"><%= c.author.first_name%></span>
        <span class="muted tiny"><%= c.created_at.to_date.to_s(:short)%></span>
        <p><%= c.body %></p>


      </div> 
    
    
    </div>

      <% end %>
    <% end %>
  <% end %>
  </div>
 
  

    


