<script type="text/javascript">
    mixpanel.track("View Round")
</script>


<% if @round.answers.where(:user_id => current_user.id).present? %>
<div class = "row"> 
  <div class="span4">
    <p><%= @round.round_date.to_date.to_s(:long)%></p> 
  </div>  
  <div class="span4">
    <% answer_edit(@my_answer) do %>
      <%= link_to "Edit Answer", edit_answer_path(@my_answer), :class => "pull-right" %>
    <% end %>
  </div> 
</div> 


<div class="spacing40"></div>

    <h3><%= @question.body %></h3>
<% else %> 
<div class = "row"> 
  <div class="span4">
    <p><%= @round.round_date.to_date.to_s(:long) %></p>
    <h3> <%= @question.body %></h3>
  </div>
  <div class="span4">
    <%= form_tag answers_path do %>
    <p><%= text_area_tag :body, nil, :class => "input answerbox", :maxlength =>"255" %>
    <%= submit_tag "Submit", :class => "btn" %>
    <%= hidden_field_tag :question_id, @question.id %>
    <%= hidden_field_tag :round_id, @round.id %></p>
    <% end %>
  </div>
<% end %>
</div>

<div class="spacing40"></div>
    
<% @answers.each do |a| %> 
<div class="container">
  <div class="row">
    <div class="span2">   
      <% if a.user.image.present? %>
        <%= image_tag a.user.image %>
      <% else %>
        <%= gravatar_for a.user, :size => 50 %>
      <% end %>
      <span class=""><%= a.user.first_name.upcase %></span>
    </div>
  </div>
  
  <div class="row">
    <div class="span2"> 
  <p><%= a.body %></p>
</div>
   
  </div>
<% end %>
  
<div class="spacing40"></div>

<div class="row">
  <div class="span12">
      <%= form_tag comments_path do %>
      <%= text_area_tag :body, nil, :class => "input commentbox", :maxlength =>"255" %>
      <%= submit_tag "Comment", :class => "btn"%>
      <%= hidden_field_tag :round_id, @round.id %>
      <% end %>
  </div>
</div>


<% if @pair %>
  <% comment_present(@round) do %>
    <% @comments.each do |c| %>



  <div class="row">
    <div class="span1">
        <p class ="muted"><%= c.created_at.to_date.to_s(:short)%></p>
      </div> 
    </div>

    <div class="row">
      <div class="span2">
        <% if c.author.image.present? %>
          <%= image_tag c.author.image, :size => 30  %>
        <% else %>
          <%= gravatar_for c.author, :size => 30 %>
         <% end %>
        <span><%= c.author.first_name.upcase %></span>
      </div>
    
  
    <div class="row"> 
      <div class="span5"> 
        <p><%= c.body %></p>
      </div>
    </div>
    
    </div>

      <% end %>
    <% end %>
  <% end %>
  </div>
 
  

    


