

   <p class="roboto date">Question for <%= @round.round_date.to_date.to_s(:long)%></p>
   
   <h3><%= @question.body %></h3>


  
    <% @answers.each do |a| %>
      <div class="well">    
        <p><%= a.user.first_name %>: <%= a.body %> </p>
        <p class = "tiny"><%= link_to "edit", edit_answer_path(a)%></p>
      </div>   
    <% end %>
    

       
     <h4>Conversation</h4>    

     <div class="well"> 
        <% @comments.each do |c| %>
          <p class ="tiny>"><%= c.created_at.to_date.to_s(:short)%></p>         
          <p> <%=c.author.first_name%>: <%= c.body %></p>
          <p class ="tiny"><%= link_to "edit", edit_comment_path(c)%></p>
        <% end %>
     </div>
      
      <%= form_tag comments_path do %>
      <%= text_area_tag :body, nil, :class => "input answerbox roboto" %>
      <p><%= submit_tag "add a comment", :class => "btn btn-success roboto"%></p>
      <%= hidden_field_tag :round_id, @round.id %>
      <% end %>

