
<div class="row">

   <% if @pair.present? %>
    <div class="btn btn-invite"><i class="icon-bullhorn"> </i>  <%=  link_to "Tell your friends about The Question Project!", new_invite_path %></div>
    <% else %>
     <div class="btn btn-invite"><i class="icon-envelope"> </i>  <%=  link_to "Invite a friend", new_pair_path %></div>
  <% end %>

</div>

<div class="row">
  <div class="spacing20"></div>
</div>


<div class="row">
  <div class="span5">
    <%= gravatar_for @user, :size => 80 %>
    <h5>THAT'S YOU!</h5>
    <p>Set your profile image at <a href="http://www.gravatar.com" target="blank">gravatar.com</a>.</p>
    <p><%= link_to "Edit your info", edit_user_registration_path %></p>
</div>

<% if @pair %>
  <div class="span5">
    <%= gravatar_for @partner, :size => 80 %>
    <h5>YOUR PARTNER</h5>
    <p><%= "Your partner is #{@pair.partner(current_user.id).first_name} #{@pair.partner(current_user.id).last_name}!" %> <%= link_to "(delete)", pair_path(current_user.id) %></p>
<% end %>

  </div>
</div>










