


<p class = "align"><%= gravatar_for @user, :size => 80 %></p>
<p>That's you!</p>


<p><i class="icon-edit"> </i> <%= link_to "Edit profile", edit_user_registration_path %></p>
<p><i class="icon-list"> </i> <%= link_to "View answer history", answers_path %></p>

<% if @partner %>
  <p class = "align"><%= gravatar_for @partner, :size => 80 %></p>
  <p><i class="icon-user"> </i> <%= "Your partner is #{@pair.partner(current_user.id).first_name}   
  #{@pair.partner(current_user.id).last_name}!" %> <%= link_to "(delete)", pair_path(current_user.id) %></p>
<% end %>



   <p> <% if @pair.present? %>
    <i class="icon-bullhorn"> </i>
    <%=  link_to "Tell your friends about The Question Project!", new_invite_path %>
    <% else %>
    <i class="icon-envelope"> </i>
    <%=  link_to "Invite a friend to be your partner!", new_pair_path %>
  <% end %></p>









