
      
     <h4> <%= @question.body %></h4>

      <%= form_tag answer_path(@answer.id), :method => "put" do %>
      <%= text_area_tag :body, @answer.body, :class => "input answerbox", :maxlength =>"255"%>
      <p><a href="/answers"><%= submit_tag "Save", :class => "btn btn-primary" %></a></p>
      <%= hidden_field_tag :question_id, @question.id %>
      <%= hidden_field_tag :round_id, @round.id %>

      <% end %>
      

