  
  <div class ="roboto">
    
      <div class="jumbotron">
        
       <h3> <%= @question.body %></h3>

        <%= form_tag answers_path do %>
        <%= text_area_tag :body, nil, :class => "input answerbox roboto" %>
        <p><a href="/answers"><%= submit_tag "Submit", :class => "btn btn-large btn-success roboto" %></a></p>
        <%= hidden_field_tag :question_id, @question.id %>
        <% end %>

        <p class="roboto"><a href="/answers/new">show me a different question</a></p>        

      </div>
    
    <% @user_answers.each do |a| %>
        <h5><%= a.created_at.to_date.to_s(:long)%></h5>
        <p><%= a.body %></p>
    <%end%>
  
  </div>

