


<p><a href="/auth/facebook">Sign in with Facebook</a></p>




<h3>Login</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %> 
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class  = "align_input"><%= f.check_box :remember_me %></div> <%= f.label :remember_me %>
  <% end -%>
<br />
  <div><%= f.submit "Sign in", :class => "btn btn-success roboto" %></div>
<% end %>

<p><%= render "devise/shared/links" %></p>

</div>
