<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p><%= @user_first %> <%= @user_last %> invited you try the Question Project!</p>
      
      <p>The Question Project is the easiest way to learn more about yourself and improve your life by answering a fun and simple question once a day -- with a friend. <a href="<%= @url %>">Check it out</a>!
      
      <p><%= @display_message %> <em><%= @message %></em>
    
    
  </body>
</html>