<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>

  <div class="header">
  
    <h4><a href="http://beta.thequestionproject.com">the question project</a></h4>
 
    <% if @round %>
      <h4>Howdy <%= @user.first_name %>! Here's today's question:</h4>
      <p><%= @question %></p>  
      <p>You can answer <a href="<%= @url %>">here</a>, or just reply to this email without changing the subject line.</p>
    <% end %>
  
 
    <% if !@unanswered_rounds.blank? %>
      <hr>
      <h4>You still need to answer these questions:</h4>
       
       <% @unanswered_rounds.each do |r| %>
          <p><%= r.question.body %>
          <a href="http://beta.thequestionproject.com/rounds/<%= r.id %>">Answer</a>
         <% end %>
    <% end %>
    
    
    <% if !@answers.blank? || !@comments.blank? %>
      <hr>
      <h4><%= "Check out #{@partner}'s recent activity" %></h4>
    <% end %>
    
    <% if @answers %>
      <% @answers.each do |a| %>
         <p><%= a.question.body %></p>
         <p><%= "#{a.user.first_name} said: #{a.body}" %>
         <a href="http://beta.thequestionproject.com/rounds/<%= a.round.id %>">Comment</a>
      <% end %>
    <% end %>


    <% if @comments %>
      <% @comments.each do |c| %> 
          <p><%= c.round.question.body %></p>
          <p><%= "#{c.author.first_name} said: #{c.body}" %>
          <a href="http://beta.thequestionproject.com/rounds/<%= c.round.id %>">Comment</a>
      <% end %>
    <% end %>
   
    <% if @last_month %> 
      <hr>
      <h4>Remember this from a month ago?</h4>
      <p><%= @last_month.round.round_date.to_date.to_s(:long) %><%= @last_month.question.body %></p>
      <p> You answered: <%= @last_month.body %>
      <a href="http://beta.thequestionproject.com/rounds/<%= @last_month.round.id %>">View Question</a>

    <% elsif @last_week %> 
      <hr>
      <h4>Remember this from a week ago?</h4>
      <p><%= @last_week.round.round_date.to_date.to_s(:long) %> <%= @last_week.question.body %></p>
      <p> You answered: <%= @last_week.body %>
      <a href="http://beta.thequestionproject.com/rounds/<%= @last_week.round.id %>">View Question</a>
    <% end %>

    </div>
  </body>
</html>