
  
  <body>
      <p><%= @user %> just answered: <strong><%= @question %></p></strong>
      
      <p><%= "#{@answer}" %></p>
      
      <p>Leave a <a href="<%= @url %>">comment for <%= @user %></a>.</p>
    

  </body>
</html>