<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p><%= @user %> just answered: <strong><%= @question %></p></strong>
      
      <p><%= "#{@answer}" %></p>
      
      <p>Leave a <a href="<%= @url %>">comment for <%= @user %></a>.</p>
    

  </body>
</html>